.solder
{
    color: white;
    margin: auto 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
}
p
{
    text-align: center;
    color: white;
}